<div class="row">
  <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
      <div class="messages-container"></div>

      <div class="panel panel-default margin-35-0">

      <div class="panel-heading centralize">
        <h2>Cadastrar Empresa</h2>
      </div>

      <form class="form" name="userForm" enctype="multipart/form-data">
        <div class="panel-body">
          <div class="list-group-item-heading centralize">
            <h4>Dados da empresa</h4>
          </div>

          <div ng-hide="evaData.ready">Carregamentos de arquivos não estão disponíveis</div>
          <div ng-show="evaData.ready" class="form-group has-feedback" id="file-group">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-3">
                <label class="control-label">Arquivo<abbr class="red-color" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr></label>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-9 control-description">
                <span>(Selecionar um único arquivo PDF com tamanho máximo {{evaData.maxSizeMB}}MB)</span>
              </div>
            </div>
                <input class="form-control required" type="text" id="file" autocomplete="off" model-view-value="true" required disabled ng-model="evaData.files[0].name" placeholder="Upload de arquivo">
            <div class="row top-buffer">
              <div class="col-lg-4 col-md-4 col-sm-4 text-left">
                <label id="btnFile" for="files" class="btn btn-default">Selecionar arquivo</label>
                <input name="companyFile" type="file" id="files" class="hidden" evaporate eva-model="evaData">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-5">
                <div id="progressBar" ng-show="evaData.files[0].startingUpload"><div></div></div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 text-right">
                <a id="verify" class="btn btn-default" ng-show="evaData.files[0].completed" ng-href="{{evaData.files[0].url}}" target="_blank">Verificar</a>
              </div>
            </div>
            <span ng-show="evaData.fileMaxSizeLimitError"><label class="control-label">Tamanho do arquivo não suportado</label></span>
            <span ng-show="evaData.fileTypeNotSupportedError"><label class="control-label">Formato do arquivo não suportado</label></span>
          </div>

          <div class="form-group has-feedback " id="cnpj-group" ng-class="{'has-error': userForm.companyCnpj.$dirty && userForm.companyCnpj.$invalid, 'has-success': userForm.companyCnpj.$valid }" >
            <label class="control-label">CNPJ <abbr class="red-color" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr></label>
            <input cnpj-validation class="form-control required" ng-model="company.cnpj" type="text" name="companyCnpj" id="cnpj"
                   autocomplete="off" ui-mask="?99.999.999/9999-99" model-view-value="true" required>
              <span ng-show="cnpjValidation == VALIDATION.LOADING" class="form-control-feedback" aria-hidden="true"><img src="images/loader.svg" alt=""/></span>
              <span ng-show="cnpjValidation == VALIDATION.DUPLICATED"><label class=" control-label">Já existe empresa com esse CNPJ</label></span>
              <span ng-show="cnpjValidation == VALIDATION.INCOMPLETE"><label class=" control-label">Número incompleto</label></span>
              <span ng-show="cnpjValidation == VALIDATION.INVALID"><label class=" control-label">Número inválido</label></span>
          </div>

          <div class="form-group has-feedback" id="tradeName-group" ng-class="{'has-error': userForm.tradeName.$dirty && userForm.tradeName.$invalid, 'has-success': userForm.tradeName.$valid }">
            <label class="control-label">Nome fantasia  <abbr class="red-color" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr> </label>
            <input class="form-control required" ng-model="company.tradeName" type="text" name="tradeName"
                   id="tradeName" value="" placeholder="ex: Larah Instrumentos Musicais" maxlength="150" required>
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="form-group" id="name-group">
            <label class="control-label">Razão social </label>
            <input class="form-control" ng-model="company.companyName" type="text" name="company.name" id="name" placeholder="ex: Larah Instrumentos Musicais Ltda." maxlength="150">
          </div>

          <div class="form-group has-feedback" id="address-group">
            <label class="control-label">Endereço </label>
            <input class="form-control" ng-model="company.streetName" type="text" name="address" id="address"
                     value="" placeholder="ex: Av. Ipiranga" maxlength="255">
            <span class="glyphicon form-control-feedback"></span>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="number-group">
                <label class="control-label">Número </label>
                <input type="text" class="form-control" ng-model="company.number"  name="company.number" id="number" ng-keyup="filterValue($event)"
                       value="" placeholder="" autocomplete="off" model-view-value="true" ui-mask="?999999999" />
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="complement-group">
                <label class="control-label">Complemento</label>
                <input class="form-control" ng-model="company.complement" type="text" name="company.complement" id="complement"
                       value="" placeholder="ex: Apartamento 201 - Bloco B" maxlength="30">
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="form-group has-feedback" id="state-group">
                <label class="control-label">UF </label>
                <select class="form-control" ng-model="company.state" size="1" lang="changeState()">
                    <option ng-repeat="state in getStates()" ng-value="{{state[0]}}"> {{ state[0] }} </option>
                </select>
                    <span class="glyphicon form-control-feedback"></span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="city-group">
                <label class="control-label">Cidade </label>
                <select class="form-control" ng-model="company.city" size="1">
                    <option ng-repeat="city in loadCities()" value="{{city}}"> {{ city }} </option>
                </select>
                <span class="glyphicon form-control-feedback"></span>
              </div>
            </div>

            <div class="col-lg-4 col-md-4">
              <div class="form-group has-feedback" id="zip-group">
                <label class="control-label">CEP</label>
                <input class="form-control"  ng-model="company.cep" type="text" name="company.zip" id="zip"
                       value="" maxlength="9" autocomplete="off" ui-mask="?99999-999" model-view-value="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="openingDate-group" ng-class="{'has-error': userForm.openingDate.$dirty && userForm.openingDate.$invalid}" >
                <label class="control-label">Data de abertura</label>
                  <input date-validation class="form-control" id="openingDate" name="openingDate" ng-model="company.openingDate" type="text" ui-mask="?99/99/9999" autocomplete="off" model-view-value="true"/>
                    <span ng-show="openingDateValidation == VALIDATION.INVALID"><label class="control-label">Data invalida</label></span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group has-feedback" id="issueDate-group" ng-class="{'has-error': userForm.issueDate.$dirty && userForm.issueDate.$invalid}">
                <label class="control-label">Emissão de documento</label>
                  <input date-validation class="form-control"  id="issueDate" name="issueDate" ng-model="company.issueDate" type="text" ui-mask="?99/99/9999" autocomplete="off" model-view-value="true"/>
                  <span ng-show="issueDateValidation == VALIDATION.INVALID"><label class=" control-label">Data invalida</label></span>
              </div>
            </div>
        </div>

          <div class="form-group ui-widget" data-ng:repeat="(position, partner) in company.partners" data-ng:show="hasPartners()">
            <hr />
            <div class="list-group-item-heading centralize">
              <h4>
                Dados do sócio
                <button type="button" class="close" data-dismiss="alert" data-ng:click="removePartner(position)">
                  <span aria-hidden="true">×</span>
                  <span class="sr-only">Close</span>
                </button>
              </h4>
            </div>
            <div class="form-group has-feedback" ng-class="{'has-error': userForm.partnerName.$dirty && userForm.partnerName.$invalid, 'has-success': userForm.partnerName.$valid }">
              <label>Nome do sócio <abbr class="red-color" alt="Preenchimento obrigatório" title="Preenchimento obrigatório">*</abbr></label>
              <input type="text" class="form-control required" value="" data-ng:model="partner.name" name="partnerName" id="partnerName" maxlength="150" required>
              <span class="glyphicon form-control-feedback"></span>
            </div>
            <div class="form-group">
              <label>CPF</label>
              <input type="text" class="form-control" data-ng:model="partner.cpf" validate-cpf ui-mask="999.999.999-99" name="cpf" id="cpf">
            </div>
            <div class="form-group">
              <label>
                <input type="checkbox" data-ng:model="partner.isActive" name="isActive" id="isActive" value="Ativo">
                Ativo
              </label>
            </div>
          </div>

        </div>

        <div class="form-group centralize">
          <button type="button" id="add-partners" class="btn btn-default margin-0-6" data-ng:click="addPartner()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Adicionar Sócio
          </button>
          <br>
        </div>

        <div class="panel-footer">
          <span class="centralize msg-alert color-red margin-15-0" id="form-alert">Preencha os campos corretamente para enviar.</span>
          <input type="submit" id="btn-submit" ng-disabled="userForm.$invalid" class="btn btn-lg btn-primary pull-right margin-0-6" ng-click="createCompany(company)" value="Enviar" disabled="true">
          <input type="reset" id="btn-clear" ng-click="clearForm(userForm)" value="Limpar" class="btn btn-default btn-lg pull-left margin-0-6">
          <div style="clear:both;"></div>
        </div>

      </form>

    </div> <!-- panel -->
  </div> <!-- col -->
</div>
