<div class="container content">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="panel panel-default margin-35-0">
                <div class="panel-heading centralize">
                    <h2>teste Data fevereiro</h2>
                </div>
                <div class="panel-body">

                    <dl>
                        <dt>CNPJ:</dt>
                        <span id="cnpj" >66332782000174</span>
                    </dl>
                    <dl>
                        <dt>Nome fantasia:</dt>
                        <dd>teste Data fevereiro</dd>
                    </dl>
                    <dl>
                        <dt>Razão Social:</dt>
                        <dd> </dd>
                    </dl>

                    <dl>
                        <dt>Endereço:</dt>
                        <dd></dd>
                    </dl>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <dl>
                                <dt>Número:</dt>
                                <dd></dd>
                            </dl>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <dl class="pull-right-lg">
                                <dt>Complemento:</dt>
                                <dd></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                            <dl>
                                <dt>Cidade:</dt>
                                <dd></dd>
                            </dl>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <dl>
                                <dt>UF:</dt>
                                <dd></dd>
                            </dl>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <dl class="pull-right-lg">
                                <dt>CEP:</dt>
                                <dd></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <dl>
                                <dt>Data de abertura:</dt>
                                <dd>
                                    02/07/2012
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <dl class="pull-right-lg">
                                <dt>Emissão de documento:</dt>
                                <dd>
                                    02/10/2014
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <a class="btn btn-default btn-download btn-download-pull-left" href="http://res.cloudinary.com/dhqchbqit/image/upload/v1442868221/teste_Data_fevereiro_21_09_2015_20:43:41.pdf" download>
                        <img style="width:12%; float:left;" src="../assets/img/PDF_icon.png" />
                        <label>Download de PDF</label>
                    </a>


                    <h3 class="centralize panel-divider padding-6-0 margin-30-0">Estrutura Societária</h3>





                    <div class="centralize">Sem sócios cadastrados.</div>






                </div>

                <div class="panel-footer">
                    <a class="btn btn-default" href="javascript:history.back(1)">Voltar</a>
                    <a href="/atualizar/14" id="btn-submit" class="btn btn-primary pull-right margin-0-6" >Editar</a>
                    <div style="clear: both"></div>
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- row -->
    </div>
</div>
<!-- container -->