<div class="container-fluid">
        <div class="col-lg-6 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="panel panel-default margin-35-0">
                <div class="panel-heading centralize">
                    <h2>{{company.tradeName | showHyphen}}</h2>
                </div>
                <div class="panel-body">
                    <dl>
                        <dt>CNPJ:</dt>
                        <span id="cnpj" >{{company.cnpj | showHyphen}}</span>
                    </dl>
                    <dl>
                        <dt>Nome fantasia:</dt>
                        <dd>{{company.tradeName | showHyphen}}</dd>
                    </dl>
                    <dl>
                        <dt>Razão Social:</dt>
                        <dd>{{company.companyName | showHyphen}} </dd>
                    </dl>

                    <dl>
                        <dt>Endereço:</dt>
                        <dd>{{company.streetName | showHyphen}}</dd>
                    </dl>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <dl>
                                <dt>Número:</dt>
                                <dd>{{company.number | showHyphen}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <dl class="pull-right-lg">
                                <dt>Complemento:</dt>
                                <dd>{{company.complement | showHyphen}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <dl>
                                <dt>Cidade:</dt>
                                <dd>{{company.city | showHyphen}}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                            <dl>
                                <dt>UF:</dt>
                                <dd>{{company.state | showHyphen}}</dd>
                            </dl>
                        </div>
                        <div  class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <dl class="pull-right-lg">
                                <dt>CEP:</dt>
                                <dd >{{company.cep | showHyphen}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                            <dl>
                                <dt>Data de abertura:</dt>
                                <dd>
                                    {{company.openingDate | showHyphen}}
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                            <dl>
                                <dt>Emissão de documento:</dt>
                                <dd>
                                    {{company.documents.issueDate | showHyphen}}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <a class="btn btn-default btn-download center-block" href="{{company.documents.url}}{{company.file}}" download>
                        <img style="width:12%; float:left;" src="images/favicon.ico" />
                        <label>Download de PDF</label>
                    </a>
                    <h3 class="centralize panel-divider padding-6-0 margin-30-0">Estrutura Societária</h3>
                    <div ng-model="models" >
                     <div ng-repeat="model in company.partners | filter: models as results" >
                        <dl>
                           <dt>Sócio:</dt>
                           <dd>{{model.name}} </dd>
                        </dl>
                        <dl>
                            <dt>CPF:</dt>
                            <dd>{{model.cpf}} </dd>
                        </dl>
                        <dl>
                            <dt>Status:</dt>
                            <div ng-if="model.active==true">
                                <dd>Ativo </dd>
                            </div>
                            <div ng-if="model.active!=true">
                                <dd>Não ativo </dd>
                            </div>
                        </dl>

                        <h3 class="centralize panel-divider padding-6-0 margin-30-0"></h3>
                     </div>
                        <div ng-if="results.length == 0">
                            <div class="centralize">Sem sócios cadastrados.</div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" href="javascript:history.back(1)">Voltar</a>
                    <a href="/atualizar/14" id="btn-submit" class="btn btn-primary pull-right margin-0-6" >Editar</a>
                    <div style="clear: both"></div>
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
</div>
<!-- container -->